<!DOCTYPE html>
<html lang="en">
<head>


<link> type="text/css" href="{{url_for('static',filename='css/styles.css')}}" rel=" stylesheet"/>
    <meta charset="UTF-8">

    {% block title %}
    {% if title %}
        <title>Про Flask -{{ title }}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>

{% block content %}
<h1>{{ title }}</h1>
<ul>
{% block mainmenu %}
{% for m in menu %}
    <li>{{m}}</li>
    {%endfor %}
</ul>
{% endblock mainmenu %}

{% endblock %}

</body>
</html>